
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
body{
  touch-action: manipulation;
  background-color: #10002B;
}
.container{
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*small*/
@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}
/*medium*/
@media (min-width: 992px) {
  .container{
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}
h2{
  margin-top: 30px;
  font-size: 60px;
  color: #fffdee ;
  text-align: center;
}

.box{
  width: 700px;
  height: 500px ;
  border-radius: 20px;
  border: 5px solid #5A189A;
  -moz-box-shadow: 10px 10px 5px #8d189a;
  box-shadow: 2px 2px 20px #8d189a;
}
#caunter{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  border: 5px solid #5A189A;
  -moz-box-shadow: 10px 10px 5px #8d189a;
  box-shadow: 2px 2px 20px #8d189a;
}
  @media (max-width: 767px) {
  #caunter{
    width: 200px;
  }
}
span{
    font-size: 100px;
    color: #fffdee;
    text-align: center;
    margin-top: 30px;
  }
  #content{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  
  button{
    font-size: 30px;
    color: #fffdee;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: #10002B;
    border-radius:  10px;
    border: 5px solid #5A189A;
    -moz-box-shadow: 10px 10px 5px #8d189a;
    box-shadow: 2px 2px 20px #8d189a; 
  }
  @media (max-width: 767px) {
    button{
      font-size: 20px;
      width: 70px;
      height: 40px;
      margin-bottom: 20px;
    }
  }
  






